{% extends 'auth/auth_base.html' %}
{% block title %}PIs | Reset your password{% endblock %}
{% block stylesheet %}
    <style>

        .text-wrap {
            background: #f75959;
            background: -moz-linear-gradient(-45deg, #f75959 0%, #f35587 100%);
            background: -webkit-linear-gradient(-45deg, #f75959 0%, #f35587 100%);
            background: -o-linear-gradient(-45deg, #f75959 0%, #f35587 100%);
            background: -ms-linear-gradient(-45deg, #f75959 0%, #f35587 100%);
            background: -webkit-linear-gradient(315deg, #f75959 0%, #f35587 100%);
            background: -o-linear-gradient(315deg, #f75959 0%, #f35587 100%);
            background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f75959', endColorstr='#f35587', GradientType=1);
            color: #fff;
        }
    </style>
{% endblock %}
{% block content %}
    {% load bootstrap5 %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="ctn" style="margin-top:50px;box-shadow: -10px 2px 4px #1f1f1f6b;">
                    <div class="row">
                        <div class="col-md-6" style="padding: 0">
                            <div class="card" style="height: 100%;border:0;">
                                <div class="card-body">
                                    <div class="card-title" style="text-align: center;">
                                        <h1><a href="{% url 'home' %}" style="text-decoration: none;">
                                            <img src="{% static 'core/logo.png' %}" alt="" style="width: 90px;"></a>
                                        </h1>
                                        <h3 class="lgtype">Password Reset</h3>
                                    </div>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
                                                                       role="alert">{{ message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="email">Enter email</label>
                                            <input type="email" name="email" placeholder="email" id="email" class="form-control">
                                        </div>
                                        <button class="btn btn-primary" id="loginBtn" style="width: 100%;margin-top: 25px;">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding: 0">
                            <div class="text-wrap" style="height: 100%;display: flex;align-items: center">
                                <div class="inner-txt" style="text-align: center;padding-bottom: 10px;">
                                    <p style="font-size: 30px; font-weight: 200;">Private investigator</p>
                                    <p>Hi, If you don't have account, please click on the button below to create an
                                        account</p>
                                    <a href="

                                            {% if request.path == '/client/login/' %}{% url 'client_registration' %}{% else %}{% url 'investigator_registration' %}{% endif %}"
                                       class="btn signupbtn">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#loginBtn').click(function (event) {
                username = $('#email');
                $('.form-text').text('');
                $('.text-danger').remove();
                if (username.val() === '') {
                    username.addClass('is-invalid').removeClass('is-valid');
                    username.after('<div class="text-danger">Email is required</div>')
                    event.preventDefault();
                } else {
                    username.addClass('is-valid').removeClass('is-invalid');
                }
            });
        })
    </script>
{% endblock %}